*
{
  font-family: "Raleway";
}

a:link 
{ 
  text-decoration: none;
  color: black;
}

a:visited 
{
  color: black;
}

p
{
  margin: 7px;
}

.paragrapheBold,.euro
{
  font-weight: 900;
}

#populaire p
{
  margin-bottom: 10px;
}

#title
{
  margin-left: 25px;
}

h1
{
  font-size: 1.25em;
  font-weight: 900;
}

h2
{
  font-size: 1em;
}

.reservia
{
  width: 100px;
  height: 50px;
}

/* Filtres */

.theme
{
  display: flex;
  margin-left: 20px;
  margin-bottom: 20px;
}

.themeFilter
{
  margin-right: 30px;
  padding: 10px;
  font-weight: 900;
}

.themeMoney,.themeChild,.themeHeart,.themeDog
{
  margin-right: 30px;
  border: solid 2px #d9d9d9;
  padding-right: 10px;
  border-radius: 30px;
  font-weight: 900;
}

.themeMoney:hover,.themeChild:hover,.themeHeart:hover,.themeDog:hover
{
  background-color: #deebff;
}

.fa-money-bill-wave,.fa-child,.fa-heart,.fa-dog
{
  background-color: #deebff;
  padding: 10px;
  border-radius: 50%;
  color: #0065fc;
  width: 1em;
  text-align: center;
  position: relative;
  right: 3px;
}

#populaire .fa-star
{
  margin-top: 35px;
}

.fa-info,.fa-star
{
  color: #0065fc;
  width: 1em;
  height: 1em;
  margin-top: 2px;
  margin-left: 3px;
}

.grey
{
  color: #F2F2F2;
}

.info 
{
  margin-left: 20px;
}

/* Barre de recherche */

.search 
{
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm 
{
  width: 100%;
  border: 1px solid #f2f2f2;
  border-right: none;
  padding: 5px;
  height: 33px;
  outline: none;
  font-weight: 900;
}

.searchButton 
{
  width: 200px;
  height: 45px;
  border: 1px solid;
  background: #0065fc;
  text-align: center;
  color: #fff;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 20px;
}

.searchButtonResponsive
{
  display: none;
}

.wrap
{
  display: flex;
  margin: 30px;
  width: 30%;
}

.fa-info
{
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.fa-map-marker-alt
{
  font-size: 20px;
  text-align: center;
  background-color: #f2f2f2;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30% 0 0 30%;
}

/* Barre de navigation */

#menu-nav 
{
  display: flex;
  justify-content: flex-end;
  margin-bottom: -85px;
}
 
#navigation-bar ul 
{
  display: flex;
}

#navigation-bar li 
{
  padding: 30px 25px 25px 25px;
}

#navigation-bar a 
{
  color: black;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  display: block;
  position: relative;

}

#navigation-bar a:hover 
{
  color: #0065fc;
}

#navigation-bar a::before 
{
  content: "";
  position: absolute;
  top: -54px;
  height: 2px;
  background-color: #0065fc;
}

#navigation-bar a:hover::before 
{
  right: 0;
  left: 0;
}

.inscription
{
  color: #0065fc;
  font-weight: 900;
}
 
li 
{
  list-style: none;
}

/* Section */

section
{
  display: flex;
}

#hebergements
{
  display: flex;
  flex-wrap: wrap;
  background-color: #F2F2F2;
  padding: 25px;
  margin: 25px;
  border-radius: 30px;
  padding-right: 50px;
}

.container
{
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: space-evenly;
}

#populaire
{
  display: flex;
  width: auto;
  flex-direction: column;
  background-color: #F2F2F2;
  padding: 25px;
  margin: 25px;
  border-radius: 30px;
}

#activities
{
  width: auto;
  display: flex;
  margin-bottom: 50px;
}

.figureAct
{
  display: flex;
  flex-direction: column;
}

.captionAct
{
  border-radius: 0 0 25px 25px;
  background-color: white;
  box-shadow: 2px 2px 10px #e5e5e5;
}

.imgVieuxport,.imgCalanques
{
  width: 275px;
  height: 370px;
  border-radius: 30px 30px 0 0;
  box-shadow: 2px 2px 10px #e5e5e5;
}

.bloc2,.bloc4
{
  display: flex;
  flex-direction: column;
}

.imgPomegues,.imgLongchamp
{
  width: 275px;
  height: 190px;
  border-radius: 30px 30px 0 0;
  box-shadow: 2px 2px 10px #e5e5e5;
}

.imgFrioul,.imgNotredame
{
  width: 275px;
  height: 100px;
  border-radius: 30px 30px 0 0;
  box-shadow: 2px 2px 10px #e5e5e5;
}

.figureHousing,.figurePop
{
  border-radius: 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 7px;
  width: 250px;
  max-height: 200px;
  margin: 0 10px 0 10px;
  box-shadow: 2px 2px 10px #e5e5e5;
}

#hebergements img 
{
  border-radius: 20px 20px 0 0;
  width: 250px;
  height: 110px;
}

figcaption 
{
  padding: 3px 3px 15px 15px;
}

.housingMarseille,.more
{
  margin-left: 25px;
  font-weight: 900;
}

.housingMarseille,.titleActivities
{
  width: 900px;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 20px;
}

.titleActivities
{
  margin: 20px 25px 0 45px;
}

.more
{
  width: 900px;
  font-size: 15px;
}

.mostPopular
{
  margin-top: 2px;
  margin-left: 15px;
  font-size: 20px;
  margin-bottom: 45px;
}

.fa-chart-line
{
  margin-left: 125px;
}

.figurePop
{
  flex-flow: row;
  width: 330px;
  height: 140px;
  margin-bottom: 30px;
}

.imgPop
{
  border-radius: 20px 0 0 20px;
  width: 130px;
  height: 140px;
}

/* Footer */

footer
{
    display: flex;
    background-color: #F2F2F2;
    padding: 20px;
}

#about
{
    margin-left: 25px;
    margin-right: 200px;
}

#housing
{
    margin-right: 200px;
}

@media screen and (max-width: 480px)
{
  main
  {
    width: auto;
  }

  h3 
  {
    padding: 5px;
    width: 100%;
  }

  #menu-nav
  {
    margin-top: 50px;
    width: auto;
  }

  #navigation-bar a::before 
  {
    content: "";
    position: absolute;
    top: 54px;
    height: 2px;
    background-color: #0065fc;
  }

  #navigation-bar a:hover::before 
  {
    right: 0;
    left: 0;
  }

  .inscription
  {
    position: absolute;
    bottom: 500%;
    left: 600%;
  }

  .reservia
  {
    position: absolute;
    top: 2%;
  }

  .themeFilter
  {
    width: 480px;
  }

  #navigation-bar ul
  {
    display: flex;
    flex-wrap: wrap;
  }

  .theme
  {
    display: flex;
    flex-wrap: wrap;
  }

  .themeMoney,.themeChild,.themeHeart,.themeDog
  {
    margin-bottom: 10px;
  }

  section 
  {
    display: flex;
    flex-direction: column-reverse;
  }

  #hebergements
  {
    width: auto;
    background-color: white;
  }

  .container
  {
    flex-direction: column;
  }

  #populaire
  {
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    padding: 25px;
    margin: 25px;
    border-radius: 30px;
  }

  .mostPopular
  {
    width: 400px;
  }

  #activities
  {
    display: flex;
    flex-direction: column;
  }

  .figureAct img
  {
    width: 350px;
    height: 150px;
  }

  .captionAct
  {
    width: 333px;
  }

  footer
  {
    display: flex;
    flex-direction: column;
  }

  #about
  {
    margin: 0px;
  }
}
